* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gill-sans;
  src: url(/css/fonts/GillSans.ttc);
}
@font-face {
  font-family: proxima-nova-thin;
  src: url(/css/fonts/Proxima-Nova-Thin.otf);
}
@font-face {
  font-family: proxima-nova-condensed;
  src: url(/css/fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.site-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1263px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1126px) {
  html,
body {
    height: 1500px;
  }

  .about-text {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .client-image-one {
    margin-top: 120px;
  }

  .client-image-two {
    margin-top: 400px;
  }

  .client-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .client-review {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-width: 250px;
  }
}
nav {
  width: 75%;
  max-height: 90px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 3px black;
}
nav .logo {
  width: 96px;
  height: 42px;
}
nav .links {
  width: 50%;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav .links a {
  text-decoration: none;
  font-family: gill-sans;
  font-size: 20px;
  color: black;
}

.about-description {
  width: 75%;
  margin: 0 auto;
}
.about-description .title {
  font-family: proxima-nova-thin;
  font-size: 60px;
  margin-top: 90px;
}
.about-description .title span {
  border-bottom: solid 3px black;
}
.about-description .about-text {
  min-height: 96px;
  margin-top: 20px;
  font-family: gill-sans;
  font-size: 17px;
}
.about-description .quotes {
  font-family: proxima-nova-thin;
  font-size: 40px;
  margin-top: 95px;
}
.about-description .quotes span {
  border-bottom: solid 3px black;
}

.client {
  width: 75%;
  margin: 0 auto;
}
.client .quotes {
  font-family: proxima-nova-thin;
  font-size: 40px;
  margin-top: 95px;
}
.client .quotes span {
  border-bottom: 3px solid black;
}
.client .client-container {
  width: 70%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
}
.client .client-container .client-image-one img {
  min-width: 250px;
  height: 150px;
}
.client .client-container .client-image-two img {
  min-width: 250px;
  height: 150px;
}
.client .client-container .client-quote {
  width: 60%;
  min-height: 150px;
}
.client .client-container .client-quote .client-review {
  max-width: 85%;
  min-height: 120px;
  padding-left: 20px;
  font-family: gill-sans;
  font-style: italic;
}
.client .client-container .client-quote .client-name {
  width: 100%;
  min-height: 30px;
  text-align: end;
  font-family: proxima-nova-condensed;
  font-size: 20px;
  color: #79addc;
}

footer {
  width: 75%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #79addc;
}

.footer-logo {
  width: 136px;
  height: 42px;
}

.copyright {
  font-family: gill-sans;
  font-size: 12px;
  color: #fff;
}

.socials {
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.socials img {
  width: 23px;
  height: 23px;
}